{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">the rotobot</h1>
        <p>the rotobot is a brilliant fantasy mind delivering the <s>best</s> <i>most</i> fantasy news and analysis
            you'll find anywhere!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <!-- div to contain the content -->
            <div id="scroller" class="mb-3">
                <!-- template schema, hidden from the dom -->
                <template id="post_template">
                    <!-- template content -->
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title" id="title"></h4>
                            <p class="card-subtitle text-muted font-italic mb-2" style="font-style: italic"
                               id="date"></p>
                            <p class="card-text text-muted mb-2" id="news"></p>
                            <p class="card-text text-muted" id="spin"></p>
                        </div>
                    </div>
                </template>
            </div>

            <!-- element to trigger the IntersectionObserver -->
            <div class="d-flex justify-content-center" id="sentinel">
                <div class="spinner-border" role="status"></div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

